@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #152238;
}

.home_btn button{
	position: top left;
	margin: 20px 40px;
	width: 100px;
	padding: 5px;
	border: 5px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #1c2e4a;
	cursor: pointer;
	transition: 1s;
	font-size: 20px;
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

button:hover{
	text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FFFFFF;
}

.container{
	background: #1c2e4a;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	width: 89%;
	length: 90%;
	margin: auto;
	padding: 30px;
}


.container h1, .container2 h1{
	font-family: 'Jura', sans-serif;
	font-size: 40px;
	letter-spacing: 2px;
	text-align: center;
	color: #CBFEC1;
	text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14;
}

.movie img, .vectorart img{
	position: relative;
	height: 190px;
	padding: 10px;
}

.movie, .vectorart{
	margin-top: 18px;
}

.container p{
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	color: #FFFFFF;
	margin-left: 20px;
	margin-right: 20px;
}

iframe{
	border: none;
	border-radius: 10px;
	padding: 8px;
}

footer{
	min-height: 10vh;
	margin-top: 25px;
	margin-bottom: 25px;
}

footer h3{
	font-family: 'Urbanist', sans-serif;
	color: #39FF14;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin-bottom: 5px;
}

footer li{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: center;
	text-decoration: underline;
	color: #FFFFFF;
	padding: 7px;
}

footer li a:link {
	color: white;
}

footer li a:visited {
	color: white;
}